<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mawar_style.css') }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
	<div class="background_image">
		<header>
			<div class="wrapper">
				<div class="logo">
					<!-- <a href="#">Pusat Tuisyen Mawar</a> -->
					<a href="#"><img src="{{ url_for('static', filename='mawarlogo.png') }}" width="200" height="80" alt="pusat tuisyen mawar"></a>
				</div>
				<nav>
					<a href="http://127.0.0.1:5001/user">Home</a>
					<a href="http://127.0.0.1:5001/user/student">Student</a>
					<a href="http://127.0.0.1:5001/user/type">Registration</a>
					<a href="http://127.0.0.1:5001/user/teachers">Teacher</a>
					<a href="http://127.0.0.1:5001/logout">Logout</a>
				</nav>
			</div>
		</header>
		<div class="luar_kotak registration"></div>
		<div class="kotak registration"></div>
	</div>
	<div class="greeting registration"><center><h1>STAFF REGISTRATION</h1><hr style="border:2px solid #726E6D;"></center></div>
	<form method="POST" action="/user/registerStaff/submit">
		<div class="myform">
			<table>
				<tr><th colspan="2">Personal Information</th></tr>
				<tr>
					<td><label for="first_name"><b>STAFF ID</b></label></td>
					<td><input type="text" placeholder="Enter ID" name="staffid" id="staffid" required></td>
				</tr>
					
				<tr>
					<td><label for="phone_num"><b>STAFF NAME</b></label></td>
					<td><input type="text" placeholder="Enter Name" name="name" id="name" required></td>
				</tr>
				<tr>
					<td><label for="email"><b>PASSWORD</b></label></td>
					<td><input type="text" placeholder="Enter password" name="password" id="password" ></td>
				</tr>
					
			</table>
		</div>
		<div class="myform2">
			<table>
				<tr>
					<td><input type="submit" value="Submit" style="padding: 25px 40px;"></td>
					<td><input type="reset" value="Reset"></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>