<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Record</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>
	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
					<!-- <a href="#">Pusat Tuisyen Mawar</a> -->
					<a href="#"><img src="{{ url_for('static', filename='mawarlogo.png') }}" width="200" height="80" alt="pusat tuisyen mawar"></a>
				</div>
				<nav>
					<a href="http://127.0.0.1:5001/user">Home</a>
					<a href="http://127.0.0.1:5001/user/student">Student</a>
					<a href="http://127.0.0.1:5001/user/type">Registration</a>
					<a href="http://127.0.0.1:5001/user/teachers">Teacher</a>
					<a href="http://127.0.0.1:5001/logout">Logout</a>
				</nav>
			</div>
		</header>
		<div class="banner-area">
			<h2>STUDENTS RECORDS</h2>
			
		</div>
		<div class="content-area">
			<h2></h2>
			<!-- table at here -->
			<br><br><br><br><br><br><br>
			<table>
				<tr id=header>
					<th>ID</th>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>PHONE NUMBER</th>
					<th>EMAIL</th>
					<th>ADDRESS</th>
					<th>SUBJECT</th>
					<th>EDIT</th>
                </tr>
				{%for item in data %}
			
		
				<tr>
				<td><a href="http://127.0.0.1:5001//user/student/view/{{item.0}}/{{item.1}}/{{item.2}}" style="color: black; text-decoration: none">{{item.0}}</a></td>
                <td><a href="http://127.0.0.1:5001/user/student/view/{{item.0}}/{{item.1}}/{{item.2}}"style="color: black; text-decoration: none">{{item.1}}</a></td>
				<td><a href="http://127.0.0.1:5001/user/student/view/{{item.0}}/{{item.1}}/{{item.2}}"style="color: black; text-decoration: none">{{item.2}}</a></td>
				<td><a href="http://127.0.0.1:5001/user/student/view/{{item.0}}/{{item.1}}/{{item.2}}"style="color: black; text-decoration: none">{{item.3}}</a></td>
				<td><a href="http://127.0.0.1:5001/user/student/view/{{item.0}}/{{item.1}}/{{item.2}}"style="color: black; text-decoration: none">{{item.4}}</a></td>
				<td><a href="http://127.0.0.1:5001/user/student/view/{{item.0}}/{{item.1}}/{{item.2}}"style="color: black; text-decoration: none">{{item.5}}</a></td>
				<td><a href="http://127.0.0.1:5001/user/registerSubject/{{item.0}}"><button class="button">Register</button></a><a href="http://127.0.0.1:5001/user/dropSubjects/{{item.0}}"><button class="button">Drop</button></a></td>
				
                <td><a href="http://127.0.0.1:5001/user/deleteStudent/{{item.0}}"><button class="button">Delete</button></a><a href="/user/studentUpdate/{{item.0}}/{{item.1}}/{{item.2}}/{{item.3}}/{{item.4}}/{{item.5}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{item.1}}"><button class="button">Update</button></a></td>
                <!--<td><a href="http://127.0.0.1:5001/deleteUser/{{item.0}}">delete</a></td>
                <td><a href="/update/{{item.0}}/{{item.1}}/{{item.2}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{item.1}}">Edit</a></td>-->
                </tr>
				{% endfor %}
            </table>
            
        </div>
        
	</div>
</body>

</html>