<html>
    <body>
        <form method="POST" action="/updateCust">
            <label for="id">Id:</label><br>
            <input type="text" id="id" name="id" value="{{data}}"></input><br>
            <label for="fname">Name:</label><br>
            <input type="text" id="fullname" name="name" value="{{data2}}"></input><br>
            <label for="password">Password :</label><br>
            <input type="text" id="Apassword" name="Apassword" value="{{data3}}" ><br><br>
            <input type="submit" value="Submit"><br><br>
          </form> 
    </body>
</html>